body {
  margin: 0;
}


canvas {
  /* border: 1px black solid; */
  position: absolute
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

h2 b {
  color: #A60D0D;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

section {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%
}

#learnVon {
  position: absolute;
  left: 10vw;
  top: 80vh;
}

.navbar {
  padding: 20px 0;
}

.navbar-brand {
  font-weight:800;
  /* text-transform: uppercase; */
  font-size: 2em;
}

.nav-item{
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  padding: 5px 15px;
}

.section1{
  padding: 25vh 0 0px;
  height: 100vh;
}

.section1 h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 500;
  color: #011C40;
}

.section1 p {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 500;
  color: #011C40;
}

.section2 {
  padding: 200px 0 0px;
  height: 100vh;
}

.section3 {
  padding: 200px 0 0px;
  height: 100vh;
}

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  color: #DCE8F2;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
  background-image: linear-gradient(to bottom, #f04242, #A60D0D);
}

.btnD1:hover {
  color: #DCE8F2;
  background: #DCE8F2;
  background-image: linear-gradient(to bottom, #367196, #295773);
  /* text-decoration: none; */
}

.navbar-dark .navbar-toggler{
  border:none
  color: #011C40;
}

/* Animation bar  */

.animation-bar-1 {
  position: relative;
  display: block;
  padding: 5px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  background: rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 1);
}

.animation-bar-1 span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  background-color: #f56982;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #f2395a, #b90c2b);
}

.run-bar {
  animation: progress-bar-1 6s 1 ease-out;
  width:60%;
}

@keyframes progress-bar-1 {
  0% {
    width: 20%;
  }
  100% {
    width: 90%;
  }
}



/* Color Theme Swatches in Hex */
.Sailing-yacht-regatta.-Yachting.-Sailing-1-hex { color: #011C40; }
.Sailing-yacht-regatta.-Yachting.-Sailing-2-hex { color: #8AA6BF; }
.Sailing-yacht-regatta.-Yachting.-Sailing-3-hex { color: #DCE8F2; }
.Sailing-yacht-regatta.-Yachting.-Sailing-4-hex { color: #295773; }
.Sailing-yacht-regatta.-Yachting.-Sailing-5-hex { color: #A60D0D; }

/* Color Theme Swatches in RGBA */
.Sailing-yacht-regatta.-Yachting.-Sailing-1-rgba { color: rgba(1, 28, 63, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-2-rgba { color: rgba(137, 166, 191, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-3-rgba { color: rgba(220, 232, 242, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-4-rgba { color: rgba(41, 86, 114, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-5-rgba { color: rgba(165, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.Sailing-yacht-regatta.-Yachting.-Sailing-1-hsla { color: hsla(213, 96, 12, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-2-hsla { color: hsla(208, 29, 64, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-3-hsla { color: hsla(208, 46, 90, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-4-hsla { color: hsla(202, 47, 30, 1); }
.Sailing-yacht-regatta.-Yachting.-Sailing-5-hsla { color: hsla(0, 85, 35, 1); }
